<div style='width: 1000px;'>  
  <div id="map" style='width: 1000px; height: 600px;'></div>  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

<script type="text/javascript">  
  var url = 'wss://integracion-tarea-3.herokuapp.com';
  var planes = {};
  var airports = {};
  const socket = io(
    url,
    {
      path: "/flights",
      reconnect: true,
      transports: ['websocket', 'polling']
    }
  );
  socket.on("connect", function () {
    console.log("Connected!");
  });

  function addInfoWindow(marker, message, infowindows) {
  var infoWindow = new google.maps.InfoWindow({
    content: message
  });
  google.maps.event.addListener(marker, 'click', function () {
    infowindows.forEach(function(ventana) {
     ventana.close(map);
    });
    infoWindow.open(map, marker);
  });
    return infoWindow
  }

  function initMap() {
    var santiago = {lat: -33.424584, lng: -70.666917};
    var airplane = 'https://maps.google.com/mapfiles/kml/pal2/icon56.png';
    var airport = 'https://maps.google.com/mapfiles/kml/pal2/icon48.png';
    var infowindows = [];
    
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: santiago
    });

    planesPosition={}
    airportsPosition={}
    livePositions= {}
    listeners={}

    socket.emit("AIRPORTS");
    socket.on("AIRPORTS", function(AIRPORTS) {
      for (var key in AIRPORTS){
        airports[key]=AIRPORTS[key];
        airportsPosition[key]=new google.maps.Marker({
        position: {lat: airports[key]['airport_position'][0], lng: airports[key]['airport_position'][1]},
        map: map,
        icon: airport
        });
        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">'+key+'</h1>'+
        '<div id="bodyContent">'+
        '<p>'+'Name: '+airports[key]['name']+'<p>'
        +'City: '+airports[key]['city']+'<p>'
        +'Country: '+airports[key]['country']+'<p>'
        +'Country Code: '+airports[key]['country_code']+'<p>'
        +'Airport Code: '+airports[key]['airport_code']+'<p>'
        '</div>'+
        '</div>';
        
        nuevaVentana=addInfoWindow(airportsPosition[key], contentString, infowindows)
        infowindows.push(nuevaVentana);
      };
    });

    socket.emit("FLIGHTS");
    socket.on("FLIGHTS", function(FLIGHTS) {
      for (var key in FLIGHTS){
        planes[key]=FLIGHTS[key];
        
        planes[key]["positions"]=[];
        new google.maps.Polyline({
        path: [
            new google.maps.LatLng(planes[key]['origin']['airport_position'][0], planes[key]['origin']['airport_position'][1]), 
            new google.maps.LatLng(planes[key]['destination']['airport_position'][0], planes[key]['destination']['airport_position'][1])
        ],
        strokeColor: "#FF0000",
        strokeOpacity: 1.0,
        strokeWeight: 3,
        geodesic: true,
        map: map
        });
        var line = new google.maps.Polyline({
        path: [
            new google.maps.LatLng(planes[key]['origin']['airport_position'][0], planes[key]['origin']['airport_position'][1]), 
        ],
        strokeColor: "#4A90E2",
        strokeOpacity: 1.0,
        strokeWeight: 3,
        geodesic: true,
        map: map
        });
        livePositions[planes[key]['code']] = line;
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(planes[key]['origin']['airport_position'][0], planes[key]['origin']['airport_position'][1]),
          map: map,
          icon: airplane
        });
        
        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">'+planes[key]['code']+'</h1>'+
        '<div id="bodyContent">'+
        '<p>'+'Airline: '+planes[key]['airline']+'<p>'
        +'Origin: '+planes[key]['origin']['name']+'<p>'
        +'Destination: '+planes[key]['destination']['name']+'<p>'
        +'Plane: '+planes[key]['plane']+'<p>'
        +'Seats: '+planes[key]['seats']+'<p>'
        '</div>'+
        '</div>';

        planesPosition[key] = marker;
        nuevaVentana = addInfoWindow(planesPosition[key], contentString, infowindows)
        infowindows.push(nuevaVentana);
        
      };
    });

    socket.on("POSITION", function(POSITION) {
    for (var key in planes){
      if (planes[key]["code"] === POSITION["code"]) {
        latlng = new google.maps.LatLng(POSITION["position"][0],POSITION["position"][1]);
        planes[key]["positions"].push(latlng);
        planesPosition[key].setPosition(latlng);
        livePositions[POSITION["code"]].setPath(planes[key]["positions"]);
      }
    };
    });

    }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfPv6rKebRDZyT88-jUaKsFPVMu4wj2JE&callback=initMap">
</script>
